<form [formGroup]="form_editar" (ngSubmit)="submitForm()">
    <label>Nome: </label>
    <input formControlName = "name">
    <br>
    <label>Preço: </label>
    <input formControlName = "price">
    <br>
    <label>Ano de lançamento: </label>
    <input formControlName = "year">
    <br>
    <label>Diretor: </label>
    <input formControlName = "director">
    <br>
    <label>Estúdio: </label>
    <input formControlName = "studio">
    <br>
    <label>Duração: </label>
    <input formControlName = "duration">
    <br>
    <label>Gênero: </label>
    <input formControlName = "genre">
    <br>
    <button type="submit">Salvar edição</button>
</form>