<div class="esquerda">
    <form [formGroup]="form_editar" (ngSubmit)="submitForm()">
        <input formControlName = "name" placeholder="Nome">
        <br>
        <input formControlName = "price" placeholder="Preço">
        <br>
        <input placeholder="Ano de lançamento" formControlName = "year">
        <br>
        <input placeholder="Diretor" formControlName = "director">
        <br>
        <input formControlName = "studio" placeholder="Estúdio">
        <br>
        <input formControlName = "duration" placeholder="Duração">
        <br>
        <input formControlName = "genre" placeholder="Gênero">
        <br>
        <button type="submit">Salvar Edição</button>
    </form>
</div>