
    <div class="titulo">
        <h3>Locadora Marcola</h3>
    </div>
    <div class="esquerda">
        <form [formGroup]="form_cadastrar" (ngSubmit)="submitForm()">
            <input formControlName = "name" placeholder="Nome">
            <br>
            <input formControlName = "price" placeholder="Preço">
            <br>
            <input placeholder="Ano de lançamento" formControlName = "year">
            <br>
            <input placeholder="Diretor" formControlName = "director">
            <br>
            <input formControlName = "studio" placeholder="Estúdio">
            <br>
            <input formControlName = "duration" placeholder="Duração">
            <br>
            <input formControlName = "genre" placeholder="Gênero">
            <br>
            <button type="submit">Cadastrar</button>
        </form>
    </div>

    <div class="direita">
        <ul *ngFor="let movie of this.movies">
            <li>
                <p>Produto: {{movie.name}}</p>
                <p>Preço: {{movie.price}}</p>
                <p>Ano de lançameto: {{movie.year}}</p>
                <p>Diretor: {{movie.director}}</p>
                <p>Estúdio: {{movie.studio}}</p>
                <p>Duração: {{movie.duration}}</p>
                <p>Gênero: {{movie.genre}}</p>
            </li>
                <p>
                    <button (click)="editar(movie)">Editar</button>
                    <button (click)="excluir(movie)" style="color: red;">Excluir</button>
                </p>
        </ul>
    </div>

